.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    caption-side: top;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;

}

.table__rowCell {
    border: 1px solid rgb(3, 29, 15);
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.table__header {
    background-color: rgb(10, 80, 50);
    color: rgb(246, 246, 246);
    border: 1px solid #eee;
    font-weight: normal;
}

.table__header:hover {
    background-color: rgb(10, 100, 50);
}

.table__row:hover {
    background-color: rgba(18, 111, 66, 0.362);
    ;
}
